main {
  margin: 0 15%;
  display: flex;
  flex-direction: row;
  gap: 5vh;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh 0;
  gap: 5vh;
  font-family: "Nunito", sans-serif;
  color: var(--secondary-azul);
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
}

.imagens {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2vh;
}

.imagens li {
  width: 20vh;
  height: 20vh;
  overflow: hidden;
  border-radius: 2vh;
  position: relative;
  transition: width 0.7s ease-in-out, height 0.7s ease-in-out;
}

.imagens li:nth-child(2) {
  width: 45vh;
}

.imagens img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagens li:hover {
  width: 50%;
}

.imagens li .legenda {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 1vh;
  font-size: 1.5vh;
  border-radius: 0 0 2vh 2vh;
  display: none;
}

.imagens li:hover .legenda {
  display: block;
}

.descricao {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.descricao h2 {
  text-transform: uppercase;
  font-size: 2.5vh;
  text-align: center;
}

.descricao p {
  font-size: 2vh;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
}

aside .capa {
  width: 20vh;
  height: 30vh;
  overflow: hidden;
  border-radius: 2vh;
  margin-bottom: 2vh;
  position: relative;
}

aside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

aside .legenda {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 1vh;
  font-size: 1.5vh;
  border-radius: 0 0 2vh 2vh;
  display: none;
}

aside .capa:hover .legenda {
  display: block;
}
