@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --scale-hover: 1.2;
}

body {
  margin: 0;
  padding: 0;
  height: max-content;
  background:
    /* url(../images/background-2.svg) no-repeat bottom / cover, */
    linear-gradient(rgba(247, 248, 242, 0.96), rgba(225, 230, 212, 0.93)),
    url(../images/background-1.svg) no-repeat bottom / cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Quattrocento Sans", sans-serif;
}

main{
  margin-left: 12.5%;
  margin-right: 12.5%;
}

a{
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 7vh;
  padding: 0 10vh;
}

nav a {
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
}

.inativo {
  color: #ccc;
  }

.ativo {
  color: #003793;
}

.inativo:hover {
  background: linear-gradient(108deg, #0A4B9E 0%, #F4B27A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo img {
  height: 5vh;
}

.perfil {
  color: #003793;
  font-size: 50px;
}

section {
  width: 50%;
  display: flex;
  margin-top: 5vh;
  margin-bottom: 10vh;
  margin-left: 25%;
  margin-right: 25%;
}

section ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vh;
  box-sizing: border-box;
}

section li {
  /* background-color: #CCC; */
  border-radius: 2vh;
  width: 16vh;
  height: 20vh;
}

/* Aqui começa os banners da lista de jogos, deus me ajude */

.lij1{
  background-image: url(../images/imgs/dandaraban.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.lij1:hover{
  transform: scale(var(--scale-hover));
}
.lij2{
  background-image: url(../images/imgs/dogballacadban.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.lij2:hover{
  transform: scale(var(--scale-hover));
}
.lij3{
  background-image: url(../images/imgs/fobia.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.lij3:hover{
  transform: scale(var(--scale-hover));
}
.lij4{
  background-image: url(../images/imgs/fukinfigban.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.lij4:hover{
  transform: scale(var(--scale-hover));
}
.lij5{
  background-image: url(../images/imgs/gravityherosban.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.lij5:hover{
  transform: scale(var(--scale-hover));
}
.lij6{
  background-image: url(../images/imgs/horizonchaseban.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.lij6:hover{
  transform: scale(var(--scale-hover));
}
.lij7{
  background-image: url(../images/imgs/kazeban.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.lij7:hover{
  transform: scale(var(--scale-hover));
}
.lij8{
  background-image: url(../images/imgs/noplacebaveryban.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.lij8:hover{
  transform: scale(var(--scale-hover));
}
.lij9{
  background-image: url(../images/imgs/torenban.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.lij9:hover{
  transform: scale(var(--scale-hover));
}
.lij10{
  background-image: url(../images/imgs/lendaheroiban.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.lij10:hover{
  transform: scale(var(--scale-hover));
}
.lij11{
  background-image: url(../images/imgs/blackiris.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.lij11:hover{
  transform: scale(var(--scale-hover));
}
.lij12{
  background-image: url(../images/imgs/blazing-chromeban.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.lij12:hover{
  transform: scale(var(--scale-hover));
}
.lij13{
  background-image: url(../images/imgs/chromasquadban.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.lij13:hover{
  transform: scale(var(--scale-hover));
}
.lij14{
  background-image: url(../images/imgs/colinalegacyban.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.lij14:hover{
  transform: scale(var(--scale-hover));
}

footer{
float: none;
}

footer ul{
  display: flex;
  color: white;
  height: 200px;
  margin-left: 12.5%;
  margin-right: 12.5%;
  font-size: 16px;
  justify-content: space-between;
  list-style: none;
  padding-left: 0px;
}

.footerbox{
  background-color: #337069;
  height: 450px;
}

.rsicons{
  margin-left: 12.5%;
  margin-right: 12.5%;
  display: flex;
  justify-content: right;
}

.icon{
  color: #fff;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  box-sizing: border-box;
}

.linefooter1{
  border: 1px solid #fff;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}
.linefooter2{
  border: 1px solid #fff;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.pfooter{
  font-size: smaller;
  color: white;
  float: left;
  display: flex;
  margin-left: 12.5%;
  margin-right: 12.5%;
  justify-content: space-between;
}

.diraut{
  width: 50%;
  font-size: 10px;
  text-align: justify;
}

.emailfot{
  float:right;
}

.btfooter{
  background-color: rgba(61, 144, 117, 1);
  text-align: center;
  font-size: 15px;
  border-radius: 35px;
  padding: 15px;
  /* width: 150px; */
  color: white;
}
.btfooter:hover{
  background-color: rgb(76, 175, 144);
  text-align: center;
  border-radius: 35px;
  /* width: 150px; */
}

/* CSS das páginas de cada jogo */

.titpagjogo{
  display: flex;
  justify-content: space-between;
}
.fa-heart{
font-size: 35px;
margin-top: 30px;
}

.content{
  display: flex;
  justify-content: space-between;
}
.carroceldescrição{
  float: left;
  width: 50%;
}
.carrocel{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 350px;
}

.stdecomprar{
  float: right;
}
.std{
  width: 250px;
  height: 350px;
}
.btcompra{
  background-color: rgba(61, 144, 117, 1);
  text-align: center;
  font-size: 15px;
  border-radius: 35px;
  padding: 15px;
  color: white;
}
.btcarrinho{
  background-color: rgba(61, 144, 117, 1);
  text-align: center;
  font-size: 15px;
  border-radius: 35px;
  padding: 15px;
  /* width: 150px; */
  color: white;
}