:root {
  --base-color-0: #ffff;
  --base-color-5: #fcfcfc;
  --base-color-10:#FDFDF8;
  --base-color-20:#CCCCCC;
  --base-color-40:#F0F6D6, 0.4;
  --base-color-60:#CBDF98, 0.6;
  --base-color-80:#A3BC58, 0.8;
  --base-color-100: #000000;
  --primary-color-5:#FFFFFF, 0.05;
  --primary-color-10:#A4ECFE;
  --primary-color-20:#80E0FD;
  --primary-color-60:#0EAAF5;
  --primary-color-80:#0C80C2;
  --primary-color-100:#0A4B9E;
  --secondary-color-10:#FFFFFF, 0.1;
  --secondary-color-20:#FFFFFE, 0.2;
  --secondary-color-60:#FFF2ED, 0.6;
  --secondary-color-80:#F9C9A7, 0.8;
  --secondary-color-100:#F4B27A;
  --terciary-color-100:#730302;
  --terciary-color-10:#7303021a;
  --backgournd-linear-1: #f7f8f2f5;
  --backgournd-linear-2: #e1e6d4ef;  
}