:root {
  --base-color-1: #eceff2;
  --base-color-2: #042240;
  --primary-color-80:#0c7ec0;
  --primary-color-100:#0a4a9e;
  --secondary-color-80:#3D9075;
  --secondary-color-100:#337069;
  --terciary-color-10:#7303021a;
  --terciary-color-100:#730302;
  --background-linear-1: #f7f8f2ea;
  --background-linear-2: #e1e6d4d4;  
}