:root {
  --base-color-1: hsl(210, 19%, 94%);
  --base-color-2: hsl(210, 88%, 13%);
  --primary-color-80:hsl(215, 90%, 90%);
  --primary-color-100:hsl(215, 90%, 20%);
  --secondary-color-80:hsl(160, 40%, 40%);
  --secondary-color-100:hsl(180, 40%, 30%);
  --terciary-color-10:hsla(1, 97%, 23%, 0.102);
  --terciary-color-100:hsl(0, 80%, 20%);
  --background-linear-1: hsla(160, 40%, 40%, 0.8);
}